/* Переменные */
:root {
    --color-light-xl: #fff;
    --color-light-l: #f6f6f6;
    --color-light-s: #fafafa;
    --color-dark-s: #cdcdcd;
    --color-dark-m: #b2b2b2;
    --color-dark-l: #545454;
    --color-dark-xl: #4c4c4c;
    --color-dark-2xl: #444;
    --color-dark-3xl: #292929;
    --color-primary: #f1cdb3;
    --color-primary-light: #fddcc4;
    --start-screen-gradient-background: #211f20;
    --footer-gradient-background: #211f20;

    --font-family: "Georgia", sans-serif;
    --second-family: "Arial", sans-serif;
}

/* Шрифты */
@font-face {
    font-family: 'Arial';
    src: url('../fonts/ArialMT.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Georgia';
    src: url('../fonts/Georgia-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Georgia';
    src: url('../fonts/Georgia.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arial';
    src: url('../fonts/Arial-ItalicMT.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Georgia';
    src: url('../fonts/Georgia-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
::after,
::before {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: var(--font-family);
    color: var(--color-light-l);
    font-weight: 400;
    /* background: url(https://im0-tub-kz.yandex.net/i?id=989a846708cb140a2493643d20e8abaf-l&n=13);
    background-size: 0; */
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Ссылки */
.link {
    font-family: var(--second-family);
    line-height: 160%;
}

.white-background {
    color: var(--color-dark-l);
    transition: all 0.3s;
}

.white-background:active {
    color: var(--color-dark-l);
}

.white-background:hover {
    color: var(--color-dark-3xl);
    ;
}

.active {
    padding-bottom: 3px;
    pointer-events: none;
    cursor: default;
    border-bottom: 3px solid var(--color-primary);
}

/* Кнопка */
.button {
    display: inline-block;
    padding: 13px 43px;
    border: 2px solid var(--color-primary);
    border-radius: 100px;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: var(--color-dark-3xl);
    transition: background-color 0.3s;
    background-color: #fff;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
}

.button:hover {
    background-color: var(--color-primary-light);
    cursor: pointer;
    border: none;
    padding: 15px 45px;
}

.button_colorized {
    padding: 15px 45px;
    background-color: var(--color-primary);
    border: none;
}

.button_colorized:hover {
    padding: 15px 45px;
    background-color: var(--color-primary-light);
    border: none;
}


.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 40px;
}

/* Логотип */
.logo__link {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.logo__title {
    margin: 0;
    padding-top: 1px;
    font-size: 32px;
    font-weight: 400;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
}

.logo__subtitle {
    padding-left: 5px;
    font-family: var(--second-family);
    font-size: 13px;
    letter-spacing: 0.1em;
    color: var(--color-dark-3xl);
}

/* Шапка */
.header {
    padding-top: 30px;
    padding-bottom: 30px;
    background: var(--color-light-xl);
}

.header__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav {
    padding-bottom: 5px;
    padding-right: 2px;
}

.nav__list {
    display: flex;
    gap: 35px;
    align-items: center;
}

/* Our friends */
.our-friends__container {
    padding: 80px 40px 100px;
}

.our-friends {
    background: var(--color-light-l);
}

.title-h3 {
    margin: 0;
    font-size: 35px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
}

.our-friends__title {
    margin-bottom: 58px;
    padding-top: 1px;
    padding-left: 2px;
    text-align: center;

}

/* Slider */
.slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 30px;
}

.our-friends__slider {
    margin-bottom: 60px;
}

.slider__arrow {
    position: relative;
    width: 52px;
    height: 52px;
    border-radius: 100px;
    border: 2px solid var(--color-primary);
    background: var(--color-light-l);
    transition: background-color 0.3s;
}

.slider__arrow_inactive {
    border: 2px solid var(--color-dark-s);
    background-image: url(../assets/icons/arrow-left-inactive.svg);
}

.slider__arrow:hover {
    background-color: var(--color-primary-light);
    border: 2px solid transparent;
}

.slider__arrow-left {
    position: absolute;
    top: 22px;
    left: 17px;
    display: inline-block;
    width: 14px;
    height: 6px;
    background-image: url(../assets/icons/arrow-left.svg);
    background-repeat: no-repeat;
}

.slider__arrow-right {
    position: absolute;
    top: 22px;
    left: 17px;
    display: inline-block;
    width: 14px;
    height: 6px;
    background-image: url(./assets/icons/arrow-right.svg);
    background-repeat: no-repeat;
}

/* Card */
.cards {
    display: flex;
    gap: 90px;
}

.card {
    background-color: var(--color-light-s);
    border-radius: 9px;
    transition: all 0.2s ease-in;
}

.card:hover {
    box-shadow: 0 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.card:hover button {
    background-color: var(--color-primary-light);
    cursor: pointer;
    border: none;
    padding: 15px 45px;
}

.card__img {
    margin-bottom: 31px;
    border-radius: 9px 9px 0 0;
}

.card__title {
    margin: 0 0 35px 0;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.06em;
    text-align: center;
    line-height: 71%;
    color: var(--color-dark-l);
}

.card__button {
    text-align: center;
    padding-bottom: 30px;
}

.our-friends__button {
    text-align: center;
}

/* Navigation */
.navigation {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.paginator {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    text-align: center;
    color: var(--color-dark-3xl);
}

.navigation_inactive {
    border: 2px solid var(--color-dark-s);
    pointer-events: none;
    cursor: default;
}

.navigation_active {
    background: var(--color-primary);
}

.paginator_inactive {
    color: var(--color-dark-s);
}

/* Footer */
.footer {
    background: url("../assets/img/background-shelter.png"), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.footer__row {
    padding-top: 40px;
    display: flex;
    gap: 161px;
}

.footer__contacts {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 44px;
}

.footer__title {
    color: var(--color-light-xl);
}

.footer__email {
    display: inline-block;
    position: relative;
    padding-left: 60px;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: var(--color-primary);
}

.footer__email::before {
    content: url(../assets/icons/icon-email.svg);
    width: 40px;
    height: 32px;
    display: block;
    position: absolute;
    left: 0;
    top: -5px;
}

.footer__tel {
    padding-top: 5px;
    padding-left: 60px;
    display: inline-block;
    position: relative;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: var(--color-primary);

}

.footer__tel::before {
    content: url(../assets/icons/icon-phone.svg);
    width: 40px;
    height: 32px;
    display: block;
    position: absolute;
    left: 0;
    top: 0px;
}

.footer__address {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 33px;
}

.footer__street {
    padding-left: 42px;
    position: relative;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: var(--color-primary);
}

.footer__street::before {
    content: url(../assets/icons/icon-marker.svg);
    width: 22px;
    height: 32px;
    display: block;
    position: absolute;
    left: 0;
    top: 6px;
}

.footer__street-second {
    padding-top: 4px;
}

.footer__street-second::before {
    top: 0;
}

.footer__img {
    margin-left: 5px;
}